<!DOCTYPE html>
<html>
  <head>
    <title> Personal Website </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <div class = "container">
      <div class = "left-side">
        <img src="{{url_for('static', filename='images/photo.jpg')}}" alt="photo" class="photo">
         <section class = "personal">
         <h1 class="name">Kamil Curzytek</h1>
          <ul class = "contacts_list">
            <li class = "contacts_item">Phone: <span class = "contacts_data">+48 600 859 761</span></li>
            <li class = "contacts_item">E-mail: <span class = "contacts_data">kamil.curzytek95@gmail.com</span></li>
            <li class = "contacts_item">Date of birth: <span class = "contacts_data">16.07.1995</span></li>
            <li class = "contacts_item">City: <span class = "contacts_data">Berlin / Wrocław</span></li>
         </section>
         <section class="widget">
          <a class="widget-link" href="https://www.linkedin.com/in/kamil-curzytek-3b9886196/" target="_blank"> Linkedin Profile</a>
         </section>
      </div>
      <div class = "right-side">
        <div class = "right-header">
            <a class="widget-link_right" href="{{url_for('home')}}"> Home</a>
            <a class="widget-link_right" href="{{url_for('experience')}}"> Experience</a>
            <a class="widget-link_right" href="{{url_for('education')}}"> Education</a>
            <a class="widget-link_right" href="{{url_for('skills')}}"> Skills</a>
            <a class="widget-link_right" href="{{url_for('projects')}}"> Projects</a>
        </div>
        <div class = "right-text">
          {%block content%}
          {%endblock%}
        </div>
      </div>
    </div>
  </body>
  <footer>
    <p>Proudly Powered by Kamil Curzytek &#174</p>
  </footer>
</html>
 
